In [297]:
import pandas as pd  
import numpy as np

In [298]:
result = pd.read_csv('../Dataset/archive/results.csv')
drivers = pd.read_csv('../Dataset/archive/drivers.csv')
races = pd.read_csv('../Dataset/archive/races.csv')
constructors_standing = pd.read_csv('../Dataset/archive/constructor_standings.csv')
drivers_standings = pd.read_csv('../Dataset/archive/driver_standings.csv')
qualifying = pd.read_csv('../Dataset/archive/qualifying.csv')

In [299]:
races.tail(10)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1115,1135,2024,15,39,Dutch Grand Prix,2024-08-25,13:00:00,https://en.wikipedia.org/wiki/2024_Dutch_Grand...,2024-08-23,10:30:00,2024-08-23,14:00:00,2024-08-24,09:30:00,2024-08-24,13:00:00,\N,\N
1116,1136,2024,16,14,Italian Grand Prix,2024-09-01,13:00:00,https://en.wikipedia.org/wiki/2024_Italian_Gra...,2024-08-30,11:30:00,2024-08-30,15:00:00,2024-08-31,10:30:00,2024-08-31,14:00:00,\N,\N
1117,1137,2024,17,73,Azerbaijan Grand Prix,2024-09-15,11:00:00,https://en.wikipedia.org/wiki/2024_Azerbaijan_...,2024-09-13,09:30:00,2024-09-13,13:00:00,2024-09-14,08:30:00,2024-09-14,12:00:00,\N,\N
1118,1138,2024,18,15,Singapore Grand Prix,2024-09-22,12:00:00,https://en.wikipedia.org/wiki/2024_Singapore_G...,2024-09-20,09:30:00,2024-09-20,13:00:00,2024-09-21,09:30:00,2024-09-21,13:00:00,\N,\N
1119,1139,2024,19,69,United States Grand Prix,2024-10-20,19:00:00,https://en.wikipedia.org/wiki/2024_United_Stat...,2024-10-18,17:30:00,2024-10-18,21:30:00,\N,\N,2024-10-19,22:00:00,2024-10-19,18:00:00
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,SÃ£o Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [300]:
races2018 = races[races['year'] >= 2017]
races2018 = races2018[['raceId', 'year', 'circuitId', 'name', 'date']]

In [301]:
races2018

      raceId  year  circuitId                    name        date
956      969  2017          1   Australian Grand Prix  2017-03-26
957      970  2017         17      Chinese Grand Prix  2017-04-09
958      971  2017          3      Bahrain Grand Prix  2017-04-16
959      972  2017         71      Russian Grand Prix  2017-04-30
960      973  2017          4      Spanish Grand Prix  2017-05-14
...      ...   ...        ...                     ...         ...
1120    1140  2024         32  Mexico City Grand Prix  2024-10-27
1121    1141  2024         18    SÃ£o Paulo Grand Prix  2024-11-03
1122    1142  2024         80    Las Vegas Grand Prix  2024-11-23
1123    1143  2024         78        Qatar Grand Prix  2024-12-01
1124    1144  2024         24    Abu Dhabi Grand Prix  2024-12-08

[169 rows x 5 columns]

In [302]:
result = result[result['raceId'].isin(races2018['raceId'])]

In [303]:
races2024= races2018[races2018['year'] == 2024]

In [304]:
results2024 = result[result['raceId'].isin(races2024['raceId'])]
active_drivers_id = results2024['driverId'].unique()
drivers2024 = drivers[drivers['driverId'].isin(active_drivers_id)]
drivers2024.drop(columns=['url','number','driverRef','forename','surname','dob','nationality','code'], inplace=True)

/tmp/ipykernel_14804/1571984314.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drivers2024.drop(columns=['url','number','driverRef','forename','surname','dob','nationality','code'], inplace=True)

In [305]:
result = result[result['driverId'].isin(drivers2024['driverId'])]
result.drop(columns=['positionText','time','milliseconds'],inplace=True)
result.rename(columns={'position':'final_position','points': 'points_per-race'}, inplace=True)

In [306]:
constructors_standing = constructors_standing[constructors_standing['raceId'].isin(result['raceId'])]
constructors_standing.drop(columns=['constructorStandingsId','positionText'], inplace=True)
constructors_standing.rename(columns={'points': 'constructor_points', 'position': 'constructor_position','wins': 'constructor_wins'}, inplace=True)

In [307]:
drivers_standings = drivers_standings[drivers_standings['raceId'].isin(result['raceId'])]

drivers_standings.drop(columns=['driverStandingsId','positionText'], inplace=True)

In [308]:
drivers_standings

       raceId  driverId  points  position  wins
6315      969       830    10.0         5     0
6346      969         8    12.0         4     0
6377      969       822    15.0         3     0
6408      969         1    18.0         2     0
6440      969        20    25.0         1     1
...       ...       ...     ...       ...   ...
34858    1144       858     0.0        23     0
34859    1144       860     7.0        18     0
34860    1144       861     5.0        19     0
34861    1144       859     4.0        21     0
34862    1144       862     0.0        24     0

[3549 rows x 5 columns]

In [309]:
result

,resultId,raceId,driverId,constructorId,number,grid,final_position,positionOrder,points_per-race,laps,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
23375,23380,969,1,131,44,1,2,2,18.0,57,44,6,1:27.033,219.351,1
23376,23381,969,822,131,77,3,3,3,15.0,57,56,2,1:26.593,220.465,1
23378,23383,969,830,9,33,5,5,5,10.0,57,43,5,1:26.964,219.525,1
23380,23385,969,815,10,11,10,7,7,6.0,56,56,10,1:28.336,216.115,11
23381,23386,969,832,5,55,8,8,8,4.0,56,53,8,1:27.677,217.740,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26754,26760,1144,825,210,20,14,16,16,0.0,57,57,1,1:25.637,222.002,11
26755,26761,1144,859,215,30,12,17,17,0.0,55,52,12,1:28.751,214.212,5
26756,26762,1144,822,15,77,9,\N,18,0.0,30,14,19,1:29.482,212.462,130
26757,26763,1144,861,3,43,20,\N,19,0.0,26,5,17,1:29.411,212.631,5
26758,26764,1144,815,9,11,10,\N,20,0.0,0,\N,0,\N,\N,4

In [310]:
qualifying = qualifying[qualifying['raceId'].isin(result['raceId'])]

qualifying.drop(columns=['qualifyId','number'], inplace=True)
qualifying=qualifying.rename(columns={'position' : 'qualifying_position' })

In [311]:
drivers_standings

       raceId  driverId  points  position  wins
6315      969       830    10.0         5     0
6346      969         8    12.0         4     0
6377      969       822    15.0         3     0
6408      969         1    18.0         2     0
6440      969        20    25.0         1     1
...       ...       ...     ...       ...   ...
34858    1144       858     0.0        23     0
34859    1144       860     7.0        18     0
34860    1144       861     5.0        19     0
34861    1144       859     4.0        21     0
34862    1144       862     0.0        24     0

[3549 rows x 5 columns]

In [312]:
drivers2024[drivers2024['driverId'] == 858]

     driverId
856       858

## Spojeni datasetu

In [313]:
data = pd.merge(qualifying, drivers2024, on=[ 'driverId'], how='inner')
data = pd.merge(data, drivers_standings, on=[ 'raceId','driverId'], how='inner')
data = pd.merge(data,result,on=['raceId','driverId','constructorId'], how='left')
data = pd.merge(data, constructors_standing, on=['raceId','constructorId'], how='left')

In [314]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2618 entries, 0 to 2617
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   raceId                2618 non-null   int64
 1   driverId              2618 non-null   int64
 2   constructorId         2618 non-null   int64
 3   qualifying_position   2618 non-null   int64
 4   q1                    2618 non-null   object
 5   q2                    2596 non-null   object
 6   q3                    2572 non-null   object
 7   points                2618 non-null   float64
 8   position              2618 non-null   int64
 9   wins                  2618 non-null   int64
 10  resultId              2618 non-null   int64
 11  number                2618 non-null   object
 12  grid                  2618 non-null   int64
 13  final_position        2618 non-null   object
 14  positionOrder         2618 non-null   int64
 15  points_per-race       2618 non-null   float64
 16  laps                  2618 non-null   int64
 17  fastestLap            2618 non-null   object
 18  rank                  2618 non-null   object
 19  fastestLapTime        2618 non-null   object
 20  fastestLapSpeed       2618 non-null   object
 21  statusId              2618 non-null   int64
 22  constructor_points    2618 non-null   float64
 23  constructor_position  2618 non-null   int64
 24  constructor_wins      2618 non-null   int64
dtypes: float64(3), int64(13), object(9)
memory usage: 511.5+ KB

In [315]:
def time_to_seconds(time_str):
    if pd.isna(time_str) or time_str == '\\N':
        return np.nan
    minutes, seconds = time_str.split(':')
    return int(minutes) * 60 + float(seconds)

data['q1'] = data['q1'].apply(time_to_seconds)
data['q2'] = data['q2'].apply(time_to_seconds)
data['q3'] = data['q3'].apply(time_to_seconds)
data['fastestLapTime'] = data['fastestLapTime'].apply(time_to_seconds)

In [316]:
data['final_position'] = data['final_position'].replace({'\\N': 0}).astype(int)
data['fastestLap'] = data['fastestLap'].replace({'\\N': 0}).astype(int)
data['fastestLapSpeed'] = data['fastestLap'].replace({'\\N': 0}).astype(float)
data = data.sort_values(['driverId', 'raceId'])
data['avg_position_last_5'] = data.groupby('driverId')['positionOrder'].shift(1).rolling(window=5, min_periods=1).mean()
data['points_before_race'] = data.groupby('driverId')['points'].shift(1).fillna(0).cumsum()

In [317]:
races = pd.read_csv('../Dataset/archive/races.csv')[['raceId', 'circuitId','year']]
data = pd.merge(data, races, on='raceId', how='left')
circuit_avg = data.groupby(['driverId', 'circuitId'])['positionOrder'].mean().reset_index()
circuit_avg = circuit_avg.rename(columns={'positionOrder': 'avg_position_circuit'})
data = pd.merge(data, circuit_avg, on=['driverId', 'circuitId'], how='left')

In [318]:
data['grid_qual_diff'] = data['grid'] - data['qualifying_position']
data = pd.merge(data, races, on=['raceId','circuitId'], how='left')

In [319]:
data.drop(columns=['year_y','number','rank'], inplace=True)
data.rename(columns={'year_x': 'year'}, inplace=True)

In [320]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2618 entries, 0 to 2617
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   raceId                2618 non-null   int64
 1   driverId              2618 non-null   int64
 2   constructorId         2618 non-null   int64
 3   qualifying_position   2618 non-null   int64
 4   q1                    2593 non-null   float64
 5   q2                    2095 non-null   float64
 6   q3                    1451 non-null   float64
 7   points                2618 non-null   float64
 8   position              2618 non-null   int64
 9   wins                  2618 non-null   int64
 10  resultId              2618 non-null   int64
 11  grid                  2618 non-null   int64
 12  final_position        2618 non-null   int64
 13  positionOrder         2618 non-null   int64
 14  points_per-race       2618 non-null   float64
 15  laps                  2618 non-null   int64
 16  fastestLap            2618 non-null   int64
 17  fastestLapTime        2493 non-null   float64
 18  fastestLapSpeed       2618 non-null   float64
 19  statusId              2618 non-null   int64
 20  constructor_points    2618 non-null   float64
 21  constructor_position  2618 non-null   int64
 22  constructor_wins      2618 non-null   int64
 23  avg_position_last_5   2617 non-null   float64
 24  points_before_race    2618 non-null   float64
 25  circuitId             2618 non-null   int64
 26  year                  2618 non-null   int64
 27  avg_position_circuit  2618 non-null   float64
 28  grid_qual_diff        2618 non-null   int64
dtypes: float64(11), int64(18)
memory usage: 593.3 KB

### Ulozeni do cvs

In [321]:
data.to_csv('../Dataset/output/2024.csv', index=False)

In [322]:
newData = pd.read_csv('../Dataset/output/2024.csv')

newData

,raceId,driverId,constructorId,qualifying_position,q1,q2,q3,points,position,wins,...,statusId,constructor_points,constructor_position,constructor_wins,avg_position_last_5,points_before_race,circuitId,year,avg_position_circuit,grid_qual_diff
0,969,1,131,1,84.191,83.251,82.188,18.0,2,0,...,1,33.0,2,0,NaN,0.0,1,2017,5.000,0
1,970,1,131,1,93.333,92.406,91.678,43.0,2,1,...,1,66.0,1,1,2.000000,18.0,17,2017,3.750,0
2,971,1,131,2,90.814,89.535,88.792,61.0,2,1,...,1,99.0,2,1,1.500000,61.0,3,2017,2.875,0
3,972,1,131,4,94.409,93.760,93.767,73.0,2,1,...,1,136.0,1,2,1.666667,122.0,71,2017,2.000,0
4,973,1,131,1,80.511,80.210,79.149,98.0,2,2,...,1,161.0,1,3,2.250000,195.0,4,2017,1.875,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,1141,861,3,18,91.270,NaN,NaN,5.0,19,0,...,3,17.0,9,0,10.600000,173509.5,18,2024,17.000,-2
2614,1142,861,3,14,93.746,93.749,NaN,5.0,19,0,...,1,17.0,9,0,11.600000,173514.5,80,2024,14.000,-14
2615,1143,861,3,19,82.594,NaN,NaN,5.0,19,0,...,4,17.0,9,0,12.800000,173519.5,78,2024,19.000,0
2616,1144,861,3,19,83.912,NaN,NaN,5.0,19,0,...,5,17.0,9,0,14.400000,173524.5,24,2024,19.000,1
2617,1144,862,214,20,84.105,NaN,NaN,0.0,24,0,...,11,65.0,6,0,15.500000,173524.5,24,2024,15.000,-3